Repository Egbert-Azure/sdltrs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build-32-sdl1, build-clang, pages

build:
  script:
  - apt-get update -qq 1> /dev/null
  - apt-get install -y -qq cmake libreadline-dev libsdl2-dev 1> /dev/null
  - mkdir -p build && cd build && cmake .. && cmake --build .

build-32-sdl1:
  script:
  - apt-get update -qq 1> /dev/null
  - dpkg --add-architecture i386
  - apt-get update -qq 1> /dev/null
  - apt-get install -y cmake gcc-multilib libgcc1:i386 libreadline-dev:i386 libsdl1.2-dev:i386 1> /dev/null
  - mkdir -p build && cd build && CFLAGS="-m32" cmake -DSDL1=1 .. && cmake --build .
  ...

build-clang:
  script:
  - apt-get update -qq 1> /dev/null
  - apt-get install -y -qq clang meson libreadline-dev libsdl2-dev 1> /dev/null
  - CC="clang" meson build && cd build && ninja

pages:
  script:
  - mkdir .public
  - cp -r html/* .public
  - mv .public public
  artifacts:
    paths:
    - public

Remove double line in GitLab CI
  .gitlab-ci.yml
Due: build, build-32-sdl1, build-clang

Link to the HTML-Documentation
  README.md
Due: none

Update images for documentation
  html/images/FloppyCreationMenu.png
  html/images/FloppyOptionsMenu.png
  html/images/FloppyStepMenu.png
Due: pages

Shorten macro name for readability
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Remove helper variable in GUI
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Swap key binding for Z80 clock speed
  html/Features.html
  src/sdltrs.1
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang, pages

Swap key binding for Z80 clock speed
  html/Features.html
  src/sdl2trs.1
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang, pages

Determine string length only once
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Provide alternative text for images
  html/Features.html
  html/TextGUI.html
Due: pages

Refactor GUI Virtual Keyboard
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Silence different signedness warning
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Link to the Video Genie Info Page
  README.md
Due: none

Fix redraw of 480*192 HRG screen
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Overwrite MMIO if controller is disabled
  src/main.c
  src/trs_disk.c
Due: build, build-32-sdl1, build-clang

Clear pixel/data for bitmap fonts
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Use Y-axis scaling variable directly
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Prevent font artefacts in GUI
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Display Model 4 brackets in GUI
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Clarify EG 3200 Genie III font selection
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Merge declaration of variables
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Assign variable directly
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Add uppercase charset for Meritum I
  src/trs_chars.c
  src/trs_sdl_gui.c
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Use always Model 4 charset in GUI
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Path conditions:
  build: any of: CMakeLists.txt, meson.build, src/*, .gitlab-ci.yml
  build-32-sdl1: any of: CMakeLists.txt, meson.build, src/*, .gitlab-ci.yml
  build-clang: any of: CMakeLists.txt, meson.build, src/*, .gitlab-ci.yml
  pages: any of: html/*, html/images/*
