Repository Egbert-Azure/sdltrs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build-32-sdl1, build-clang, pages

.gitlab-ci.yml:

.job_template: &job_definition
 only:
  changes:
   - CMakeLists.txt
   - meson.build
   - src/*
   - .gitlab-ci.yml

build:
 <<: *job_definition
 script:
 - apt-get update -qq 1> /dev/null
 - apt-get install -y -qq cmake libreadline-dev libsdl2-dev 1> /dev/null
 - mkdir -p build && cd build && cmake .. && cmake --build .

build-32-sdl1:
 <<: *job_definition
 script:
 - apt-get update -qq 1> /dev/null
 - dpkg --add-architecture i386
 - apt-get update -qq 1> /dev/null
 - apt-get install -y cmake gcc-multilib libgcc1:i386 libreadline-dev:i386 libsdl1.2-dev:i386 1> /dev/null
 - mkdir -p build && cd build && CFLAGS="-m32" cmake -DSDL1=1 .. && cmake --build .
 - file sdltrs

build-clang:
 <<: *job_definition
 script:
 - apt-get update -qq 1> /dev/null
 - apt-get install -y -qq clang meson libreadline-dev libsdl2-dev 1> /dev/null
 - CC="clang" meson build && cd build && ninja

pages:
 script:
 - mkdir .public
 - cp -r html/* .public
 - mv .public public
 artifacts:
    paths:
    - public
 only:
   changes:
   - html/*
   - html/images/*

Fix print & save memory in debugger
  src/debug.c
Due: build, build-32-sdl1, build-clang

Bump version to 1.2.25
  CHANGELOG.md
  README.md
  configure.ac
  debian/changelog
  html/ReleaseHistory.html
  meson.build
  src/sdl2trs.1
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang, pages

Bump version to 1.2.25
  CHANGELOG.md
  README.md
  configure.ac
  debian/changelog
  html/ReleaseHistory.html
  meson.build
  src/sdltrs.1
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang, pages

Update binaries of Win32/64 port
  README.md
  bin/sdl2trs.exe
  bin/sdl2trs64.exe
  bin/sdltrs.exe
Due: none

Update packages for Debian/Linux Mint
  README.md
  bin/sdl2trs_1.2.24-1_amd64.deb
  bin/sdl2trs_1.2.24-1_i386.deb
  bin/sdl2trs_1.2.25-1_amd64.deb
  bin/sdl2trs_1.2.25-1_i386.deb
  bin/sdltrs_1.2.24-1_amd64.deb
  bin/sdltrs_1.2.24-1_i386.deb
  bin/sdltrs_1.2.25-1_amd64.deb
  bin/sdltrs_1.2.25-1_i386.deb
Due: none

Update Nix package expression
  default.nix
Due: none

Update Void Linux package template
  template
Due: none

Show driver number in error message
  src/trs_disk.c
  src/trs_hard.c
Due: build, build-32-sdl1, build-clang

Define macro for screen size
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Rename function to strip whitespaces
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Fix Aster CT-80 character set
  src/trs_chars.c
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Select matching entry in GUI popup
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Set Percom Doubler for LNW80
  src/trs_memory.c
Due: build, build-32-sdl1, build-clang

Merge condition for address check
  src/trs_memory.c
Due: build, build-32-sdl1, build-clang

Fix Selector CP/M mode MMIO write
  src/trs_memory.c
Due: build, build-32-sdl1, build-clang

Use Selector only for TRS-80 Model I
  src/trs_memory.c
Due: build, build-32-sdl1, build-clang

Refactor Selector memory functions
  src/trs_memory.c
Due: build, build-32-sdl1, build-clang

Sort some lines in source code
  src/trs_sdl_gui.c
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Move variables to block scope
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Make ROM writeable in debugger
  src/debug.c
Due: build, build-32-sdl1, build-clang

Initialize RAM with FF00 byte pattern
  src/trs_memory.c
Due: build, build-32-sdl1, build-clang

Remove unused function
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Silence different signedness warning
  src/debug.c
Due: build, build-32-sdl1, build-clang
