Repository Egbert-Azure/sdltrs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, build-32-sdl1, build-clang, pages

.gitlab-ci.yml:

.job_template: &job_definition
 only:
  changes:
   - CMakeLists.txt
   - meson.build
   - src/*
   - .gitlab-ci.yml

build:
 <<: *job_definition
 script:
 - apt-get update -qq 1> /dev/null
 - apt-get install -y -qq cmake libreadline-dev libsdl2-dev 1> /dev/null
 - mkdir -p build && cd build && cmake .. && cmake --build .

build-32-sdl1:
 <<: *job_definition
 script:
 - apt-get update -qq 1> /dev/null
 - dpkg --add-architecture i386
 - apt-get update -qq 1> /dev/null
 - apt-get install -y cmake gcc-multilib libgcc1:i386 libreadline-dev:i386 libsdl1.2-dev:i386 1> /dev/null
 - mkdir -p build && cd build && CFLAGS="-m32" cmake -DSDL1=1 .. && cmake --build .
 - file sdltrs

build-clang:
 <<: *job_definition
 script:
 - apt-get update -qq 1> /dev/null
 - apt-get install -y -qq clang meson libreadline-dev libsdl2-dev 1> /dev/null
 - CC="clang" meson build && cd build && ninja

pages:
 script:
 - mkdir .public
 - cp -r html/* .public
 - mv .public public
 artifacts:
    paths:
    - public
 only:
   changes:
   - html/*
   - html/images/*

Add uppercase charset for Meritum I
  src/trs_chars.c
  src/trs_sdl_gui.c
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Use always Model 4 charset in GUI
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang

Update images for documentation
  html/images/CassetteMenu.png
  html/images/ConfigFilesMenu.png
  html/images/DirectoryMenu.png
  html/images/DirectorySelect.png
  html/images/DisplayMenu.png
  html/images/EmulatorMenu.png
  html/images/FloppyCreationMenu.png
  html/images/FloppyLoad.png
  html/images/FloppyMenu.png
  html/images/FloppyOptionsMenu.png
  html/images/FloppyStepMenu.png
  html/images/HardMenu.png
  html/images/JoystickMap.png
  html/images/JoystickMenu.png
  html/images/JoystickSelectMenu.png
  html/images/MainMenu.png
  html/images/MiscMenu.png
  html/images/ROMMenu.png
  html/images/StringyMenu.png
Due: pages

Add Meritum charset to documentation
  html/Options.html
  src/sdltrs.1
Due: build, build-32-sdl1, build-clang, pages

Add Meritum charset to documentation
  html/Options.html
  src/sdl2trs.1
Due: build, build-32-sdl1, build-clang, pages

Update the HTML documentation
  html/Options.html
  html/TextGUI.html
Due: pages

Fake ROM for TRS-80 Model I and III/4
  src/main.c
  src/trs_fakerom.c
  src/trs_rom1.c
Due: build, build-32-sdl1, build-clang

Rework Drive Selection in GUI
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Update images in HTML documentation
  html/images/FloppyCreationMenu.png
  html/images/HardMenu.png
  html/images/ROMMenu.png
  html/images/StringyMenu.png
Due: pages

Refactor 6845 CRTC cursor position
  src/trs_io.c
Due: build, build-32-sdl1, build-clang

Initialize RAM with RET instruction
  src/trs_memory.c
Due: build, build-32-sdl1, build-clang

No need to fill random seed buffer
  src/trs_memory.c
Due: build, build-32-sdl1, build-clang

Bump version number of state file
  src/trs_state_save.c
Due: build, build-32-sdl1, build-clang

Fix typo in State File Banner
  src/trs_state_save.c
Due: build, build-32-sdl1, build-clang

Use signed limit for GUI input
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang

Update screenshots of SDLTRS
  screenshots/sdltrs01.png
  screenshots/sdltrs02.png
  screenshots/sdltrs03.png
  screenshots/sdltrs04.png
Due: none

Insert some lines for readability
  src/blit.c
  src/dis.c
  src/main.c
  src/trs_cassette.c
  src/trs_disk.c
  src/trs_hard.c
  src/trs_imp_exp.c
  src/trs_interrupt.c
  src/trs_stringy.c
Due: build, build-32-sdl1, build-clang

Insert some lines for readability
  src/PasteManager.c
  src/blit.c
  src/dis.c
  src/main.c
  src/trs_cassette.c
  src/trs_disk.c
  src/trs_hard.c
  src/trs_imp_exp.c
  src/trs_interrupt.c
  src/trs_stringy.c
Due: build, build-32-sdl1, build-clang

Bump version to 1.2.24
  CHANGELOG.md
  README.md
  configure.ac
  debian/changelog
  html/ReleaseHistory.html
  meson.build
  src/sdltrs.1
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang, pages

Bump version to 1.2.24
  CHANGELOG.md
  README.md
  configure.ac
  debian/changelog
  html/ReleaseHistory.html
  meson.build
  src/sdl2trs.1
  src/trs_sdl_gui.c
Due: build, build-32-sdl1, build-clang, pages

Update binaries of Win32/64 port
  README.md
  bin/sdl2trs.exe
  bin/sdl2trs64.exe
  bin/sdltrs.exe
Due: none

Update packages for Debian/Linux Mint
  README.md
  bin/sdl2trs_1.2.23-1_amd64.deb
  bin/sdl2trs_1.2.23-1_i386.deb
  bin/sdl2trs_1.2.24-1_amd64.deb
  bin/sdl2trs_1.2.24-1_i386.deb
  bin/sdltrs_1.2.23-1_amd64.deb
  bin/sdltrs_1.2.23-1_i386.deb
  bin/sdltrs_1.2.24-1_amd64.deb
  bin/sdltrs_1.2.24-1_i386.deb
Due: none

Update Nix package expression
  default.nix
Due: none

Update Void Linux package template
  template
Due: none

Simplify HRG extension region redraw
  src/trs_sdl_interface.c
Due: build, build-32-sdl1, build-clang
